/* 게시판 메인 페이지 */
li {list-style:none;}
a {color:#333; text-decoration:none;}
.board_section {width:100%; }
.board_main {width:1200px; height:100%;  margin:0 auto;}
.board_header {width:100%;  padding-top:60px; padding-bottom:40px;}
.board_header p {font-size:40px;  color:#333; }
.board_header p span {font-size:18px;}
.board_content {width:100%;  box-shadow:1px 1px 5px gray;}
.board_list {width:100%; height:45px; border-bottom:1px solid #ddd; background:#fff;}
.board_list li { height:100%; float: left; text-align:center; line-height:45px;}
.idx {width:150px; }
.board_title { width:500px; }
.writer {width:100px;}
.date {width:250px; }
.hit {width:200px; }
.board_amp {font-weight:bold; font-size:28px; }
.board_list_header {border-bottom:3px solid #ddd;}
.board_footer a{float: right; margin-top:7px;display: block;  background:#666;  color:#fff; border-radius:3px;}

/* 게시판 뷰 페이지 */
.view_section {width:100%; padding-bottom:100px;}
.view_main {width:1200px; height:100%;  margin:0 auto;}
.view_header {width:100%;  padding-top:60px; padding-bottom:30px; border-bottom:1px solid #ddd;}
.view_header p {font-size:40px;  color:#333; }
.view_header p span {font-size:18px;}
.view_content {width:100%;  margin-top:5px;}


.view_box_content {width:100%; border-bottom:1px solid #ddd; padding:10px;}
.view_box_content p {font-size:20px;}
.gsp_view_box_footer {width:100%; height:65px; }
.gsp_view_box_footer > ul {float: right; padding:10px; }
.gsp_view_box_footer .footer_ui > li{float:left; margin-right:2px;}
.sub_file {width:160px; height:0; margin-top:5px; background:#fff; transition:0.4s; overflow: hidden; box-shadow:0 0 8px gray;}
.sub_file li {color:#333;}
.files_box{margin-top: 10px;}
.img_check:checked ~ .board_img{display: block;}
.img_check:checked ~ .file_icon{display: block;}
.board_img{width: auto;height: auto;max-width: 800px;max-height: 800px;display: none;}
.file_icon img{width: 30px;height: 30px;}
.file_icon a{font-size: 1.2em;}
pre{
display:inline;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word; }
.file_icon{display: none;margin-top: 20px;}
/* 댓글 */
.view_footer{margin-top:150px;}
.comment_title{
    margin-bottom:20px;
    line-height: 20px;font-size: 16px;color: #454c4c;
}
.comment_title>.amp{font-size: 18px;}
.comment_input{margin-bottom: 40px;}
.comment_input>.comment_form{position: relative;}
.comment_input>.comment_form>.formwrite{
    position: relative;
    margin-right: 130px;padding: 20px;
    border: solid 1px #d7dada;border-right: none;
}
.comment_input>.comment_form>.formwrite>.Name{
    line-height: 16px;font-size: 14px;color: #555e5e;
}
.comment_input>.comment_form>.formwrite>.text{
    display: block;
    width: 100%;height: 96px;min-height: 50px;
    margin-top: 10px;
    border: none;
    background: none;
    overflow: hidden;
    font-size: 14px;line-height: 16px;color: #555;word-wrap: break-word;
    resize: none;
}
.comment_input>.comment_form>#comment_submit{
    position: absolute;
    right: 0;top: 0;
    width: 130px;height: 100%;
    background-color: #f2f2f2;
    border: solid 1px #cdd2d2;
    font-size: 14px;color: #555e5e;
}

.coment_lists>ul{
    border-top:1px solid #d1d6d6;border-left:1px solid #d1d6d6;border-right:1px solid #d1d6d6;
}
.coment_lists>ul>.comments{
    position:relative;
    padding:20px 10px 10px 70px;
    border-bottom:1px solid #d1d6d6;
    background:#fff;
}
.coment_lists>ul>.comments>.comments_text{
    margin: 10px 0;
    overflow: hidden;
    font-size: 14px;line-height: 1.6;color: #454c4c;word-break: break-all;
}
.coment_lists>ul>.comments>.comments_head>.comment_name{
    display: inline-block;
    max-width: 100px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;text-overflow: ellipsis;vertical-align: middle;
    line-height: 16px;font-size: 14px;font-weight: bold;color: #454c4c;
}
.coment_lists>ul>.comments>.comments_head>.comment_date{
    vertical-align: middle;
    line-height: 14px;font-size: 12px;color: #879292;
}
.coment_lists>ul>.comments>.comments_head>.comment_delete{
    position: absolute;
    top: 0;right: 0;
    margin-top: 20px;margin-right: 10px;
    line-height: 14px;font-size: 12px;color: #879292;
}
/* //댓글 */

/* 게시판 글쓰기 페이지 */
fieldset {border:none;}
legend {display: none;}
.write_main {width:1200px; height:1000px; margin:0 auto;}
.write_main p {font-size: 40px; color: #333; padding:50px 0 30px;}
.write_main p span {font-size:18px;}
.field_header {width:100%; }
.tx_title {width:250px; border:none; border-bottom:1px solid #ddd; font-size:16px; color:#666}
.tx_area {width:100%; height:400px;}
textarea {width:100%; height:100%; border:1px solid #ddd; font-size:16px;}
.field_footer {width:100%; height:50px;}
.submits {width:375px; height:100%; float: right; padding-top:10px;}
.field_footer input{float: left; border: none; }
.field_footer input[type=file] {  float:left; width:200px; }
.field_footer button{ float: right;  background:#666; color:#fff; height:40px; cursor:pointer;}
