/* 동아리 소개 페이지 */
.intro_section {width:100%; }
.intro_mimg { width:100%; height:300px; background:#3498db;  background:url("/common/images/d2.jpg")center; background-size:cover; position: relative; }
.intro_main {width:1200px; height:100%;  margin:0 auto; }
.intro_header {width:100%; height:200px; padding-top:60px;}
.intro_header p {font-size:40px;  color:#333; border-bottom:1px solid #ddd; padding-bottom:40px;}
.intro_content {width:100%;  padding-bottom:150px; }
.intro_content p {line-height:26px; font-size:17px; margin-bottom:65px;}
.intro_amp {font-weight:bold; font-size:28px;}
.cover { width:100%; height:100%; position: absolute; background:rgba(0,0,0,.1); }
.cover h2 { font-size:36px; color:#fff; line-height:300px; text-align: center; }
.inta { font-size:20px; }


/* 인사말 */
.greeitng_mimg {width:100%; height:300px; background:url("/common/images/bubble2.jpg")center; background-size:cover; position: relative;}
