.mp_section {width:100%;}
.mp_main {width:1200px; height:650px; margin:0 auto; padding:50px 0; }
.mp_header {width:100%; height:50px; }
.mp_header p {font-size:21px; }
.mp_content {width:100%; height:500px; margin-top:20px;}
.infor {width:280px; height:400px;  float: left;margin-right:23px; box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2); }
.infor:last-child {margin-right:0;}
.infor_header {width:100%; height:50px; background:#efefef;}
.infor_header p {text-align:center; line-height:50px; font-size:16px}
.infor_content {width:100%; height:350px; padding:20px;}
#board_add_form{
    float:left;
    margin-top:15px;
}
#board_add{
    /* float: left; */
    height: 45px;
    line-height: 45px;
}
.pop_icon{
    position: absolute;
    z-index: 9999999999;
}
